.invoice {
  margin: 0 auto;
}
.invoicePageHead {
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.section {
  padding: 15px;
}
.invoice_info_display {
  margin-bottom: 30px;
  line-height: 25px;
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-column-gap: 5px;
  grid-row-gap: 3px;
  text-align: center;
  :nth-child(odd) {
    font-weight: 600;
    text-align: left;
  }
  :nth-child(even) {
    border-left: 1px solid gray;
    padding-left: 5px;
  }
}
.last_row {
  font-size: 15px;
  font-weight: bolder;
}
.payment_info {
  margin-top: 20px;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
}
.thanks {
  margin-top: 60px;
  font-size: 25px;
  text-align: center;
}
.nice_day_text {
  font-size: 20px;
  text-align: center;
  margin-top: 6px;
}
