.products {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}
.products_table {
  width: 95%;
  margin: 0 auto;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid lightgray;
  padding: 10px;
}

.top_row {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
}

img {
  margin: 0 auto;
  height: 80px;
  width: 80px;
}
.italicText {
  color: blue;
}
.productButton {
  color: black;
}
