.order_notes {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}
.delButton {
  color: black;
}
.notesTable {
  border: 0px;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  line-height: 40px;
  font-size: 14px;
  padding: 10px;
}
